.box_input {
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
	color: white;
}
.box_input_focus {
	border-radius: 20px;
	color: black;
	background-color: white;
	border: none !important;
	padding: 5px;
}

.box_input_order {
	border-radius: 20px;
	padding: 5px 10px;
	color: #0e5b70;
	background-color: gainsboro;
	border: 1px solid white;
}
.box_input_order_focus {
	color: black;
	background-color: white;
	border: 1px solid #0e7490 !important;
}

input {
	outline: none;
	border: none;
}
.btn_toolbar {
	border-radius: 16px 16px 0 0;
	padding: 5px 10px;
	color: white;
	background-color: #0e7490;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85%;
	cursor: pointer;
}
button:hover {
	cursor: pointer;
}
.group_toolbar button:hover {
	cursor: pointer;
	color: white !important;
	border-color: white !important;
	background-color: #0e5b70 !important;
}
.btn_toolbar_active {
	background-color: white;
	color: #0e7490;
}
.cus_btn_active {
	background-color: #0e7490;
	color: white;
}
.cus_btn_active:hover {
	background-color: #0e5b70 !important;
	color: white !important;
}

.box_group_item_menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.box_group_item_menu > * {
	width: calc(100% / 6 - 10px);
	height: 25%;
	border-radius: 8px;
	margin: 5px;
	background-color: #f5f5f6;
	border: 1px solid #fff;
	cursor: pointer;
}
.box_group_item_menu > *:hover {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #0e7490;
}

.box_group_item_room {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}
.box_group_item_room > * {
	width: calc(100% / 6 - 10px);
	height: 25%;
	border-radius: 8px;
	margin: 5px;
	background-color: #2cbce438;
	border: 1px solid #fff;
	cursor: pointer;
	color: #0e7490;
}
.box_item_room {
	text-align: center;
	font-weight: 500;
	font-size: 10px;
	color: #0e7490;
	opacity: 0;
}
.box_group_item_room > *:hover {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #0e7490;
}
.box_group_item_room > *:hover > .box_item_room {
	opacity: 1;
}
.box_group_item_room_active {
	background-color: #0e7490;
	color: white;
}
.box_group_item_room_active > .box_item_room {
	color: #7fb6c5;
	opacity: 1;
}

.box_group_item_order {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-content: flex-start;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: calc(100% - 144px);
}
.box_group_item_order > * {
	width: calc(100%);
	border-radius: 8px;
	padding: 14px 5px;
	height: 80px;
	border: 1px solid #fff;
}
.box_group_item_order > *:first-child {
	margin-top: 5px;
}
.box_group_item_order > *:last-child {
	margin-bottom: 5px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.box_group_item_order > *:hover {
	border: 1px solid #0e7490;
}
.box_group_item_order > *:hover > .price_order {
	opacity: 0;
}
.box_group_item_order > *:hover > .add_order {
	opacity: 1;
}
.price_order,
.info_order {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.price_order {
	align-items: flex-end;
	justify-content: space-between;
}
.info_order {
	width: calc(100% - 306px);
	align-items: flex-start;
	justify-content: space-around;
}
.add_order {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
}
.btn-payment,
.btn-notifi {
	color: white;
	border-radius: 8px;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	color: white;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-payment:hover,
.btn-notifi:hover {
	color: white !important;
}
.btn-payment {
	background-color: forestgreen;
}
.btn-payment:hover {
	background-color: rgb(28, 114, 28);
}
.btn-notifi {
	background-color: #0e7490;
}
.btn-notifi:hover {
	background-color: #0e5b70;
}
@media screen and (max-width: 1200px) {
	.info_order {
		width: calc(100% - 220px);
	}
	.price_order {
		display: none;
	}
}

@media screen and (max-width: 1320px) {
	.box_group_item_room > *,
	.box_group_item_menu > * {
		width: calc(100% / 5 - 10px);
	}
}
@media screen and (max-width: 1200px) {
	.box_group_item_room > *,
	.box_group_item_menu > * {
		width: calc(100% / 4 - 10px);
	}
}
@media screen and (max-height: 700px) {
	.box_group_item_room > *,
	.box_group_item_menu > * {
		height: calc(100% / 3);
	}
}
@media screen and (max-height: 600px) {
	.box_group_item_room > *,
	.box_group_item_menu > * {
		height: 40%;
	}
}
@media screen and (max-height: 520px) {
	.box_group_item_room > *,
	.box_group_item_menu > * {
		height: 50%;
	}
}
@media screen and (max-height: 450px) {
	.box_group_item_room > *,
	.box_group_item_menu > * {
		height: 60%;
	}
}
@media screen and (max-height: 400px) {
	.box_group_item_room > *,
	.box_group_item_menu > * {
		height: 80%;
	}
}
